/* Background color */
$bg-blue: #0482f9;
$bg-black: #000;
$bg-white: #fff;
$bg-grdrkhg: #373737;

/* Text color */
$txt-whi: #fff;
$txt-drk: #000;
$txt-grdrk: #535353;
$txt-grdrkhg: #373737;
$txt-gr: gray;
$txt-blue: #0482f9;